In [2]:
#导出数据
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
train_data=pd.read_excel('F:/BDCI竞赛/剧本角色情感识别/train_data.xlsx') 
test_data=pd.read_excel('F:/BDCI竞赛/剧本角色情感识别/test_data.xlsx') 
submit_data=pd.read_excel('F:/BDCI竞赛/剧本角色情感识别/submit.xlsx') 
print(train_data)
print(test_data)
print(submit_data)

       Unnamed: 0                 id  \
0               0      1171_0001_A_1
1               1      1171_0001_A_2
2               2      1171_0001_A_3
3               3      1171_0001_A_4
4               4      1171_0001_A_5
...           ...                ...
42890       42890  34949_0180_A_1450
42891       42891  34949_0180_A_1458
42892       42892  34949_0180_A_1459
42893       42893  34949_0180_A_1460
42894       42894  34949_0180_A_1463

                                                 content character  e1  e2  \
0              天空下着暴雨，o2正在给c1穿雨衣，他自己却只穿着单薄的军装，完全暴露在大雨之中。        o2   0   0
1              天空下着暴雨，o2正在给c1穿雨衣，他自己却只穿着单薄的军装，完全暴露在大雨之中。        c1   0   0
2                           o2一手拿着一个行李，一路小跑着把c1带到了文工团门口。        o2   0   0
3                           o2一手拿着一个行李，一路小跑着把c1带到了文工团门口。        c1   0   0
4      o2停下来接过c1手里的行李：你妈妈交待我了，等领了军装一定要照张相寄回去，让街坊邻居都知道...        o2   0   0
...                                                  ...       ...  ..  ..
42890                                x2的未婚夫手捧大束玫瑰花在寻找x2。        x2   0   0
42891                f1看看表：过了五分钟。他从口袋里掏出药盒，倒出药：一片，两片，半片。        f1   0   3
42892  b1转脸朝前走。突然站住了，他看见自己的前妻，c1领着女儿g3站在前面。他过去，三人紧紧拥在...        b1   2   3
42893  b1转脸朝前走。突然站住了，他看见自己的前妻，c1领着女儿g3站在前面。他过去，三人紧紧拥在...        c1   2   3
42894  b1转脸朝前走。突然站住了，他看见自己的前妻，c1领着女儿g3站在前面。他过去，三人紧紧拥在...        n1   0   0

       e3  e4  e5  e6
0       0   0   0   0
1       0   0   0   0
2       0   0   0   0
3       0   0   0   0
4       0   0   0   0
...    ..  ..  ..  ..
42890   0   0   0   0
42891   0   0   0   0
42892   0   0   0   0
42893   0   0   0   0
42894   0   0   0   0

[42895 rows x 10 columns]
       Unnamed: 0                 id                   content character
0               0    34170_0002_A_12       穿着背心的b1醒来，看看手机，三点了。        b1
1               1    34170_0002_A_14                   b1走出卧室。        b1
2               2    34170_0003_A_16            b1拿着手机，点开计时功能。        b1
3               3    34170_0003_A_17  b1站在淋浴头下面，水从b1的头和脸上冲刷而过。        b1
4               4    34170_0003_A_18                   b1摈着呼吸。        b1
...           ...                ...                       ...       ...
21371       21371  34122_0130_A_1184               w2：正版药进医保了。        w2
21372       21372  34122_0130_A_1185                   u2：那挺好。        u2
21373       21373  34122_0130_A_1186      w2：你还是接着卖你的壮阳药吧，适合你。        w2
21374       21374  34122_0130_A_1187           w2开着车，带着u2驶向远方。        u2
21375       21375  34122_0130_A_1188           w2开着车，带着u2驶向远方。        w2

[21376 rows x 4 columns]
       Unnamed: 0                 id      emotion
0               0    34170_0002_A_12  0,0,0,0,0,0
1               1    34170_0002_A_14  0,0,0,0,0,0
2               2    34170_0003_A_16  0,0,0,0,0,0
3               3    34170_0003_A_17  0,0,0,0,0,0
4               4    34170_0003_A_18  0,0,0,0,0,0
...           ...                ...          ...
21371       21371  34122_0130_A_1184  0,0,0,0,0,0
21372       21372  34122_0130_A_1185  0,0,0,0,0,0
21373       21373  34122_0130_A_1186  0,0,0,0,0,0
21374       21374  34122_0130_A_1187  0,0,0,0,0,0
21375       21375  34122_0130_A_1188  0,0,0,0,0,0

[21376 rows x 3 columns]

In [3]:
type(train_data)

pandas.core.frame.DataFrame

In [6]:
train_data=pd.DataFrame(train_data)

In [8]:
train_data=train_data.drop(['Unnamed: 0'],axis=1)
test_data=test_data.drop(['Unnamed: 0'],axis=1)
submit_data=submit_data.drop(['Unnamed: 0'],axis=1)

In [11]:
test_data

                      id                   content character
0        34170_0002_A_12       穿着背心的b1醒来，看看手机，三点了。        b1
1        34170_0002_A_14                   b1走出卧室。        b1
2        34170_0003_A_16            b1拿着手机，点开计时功能。        b1
3        34170_0003_A_17  b1站在淋浴头下面，水从b1的头和脸上冲刷而过。        b1
4        34170_0003_A_18                   b1摈着呼吸。        b1
...                  ...                       ...       ...
21371  34122_0130_A_1184               w2：正版药进医保了。        w2
21372  34122_0130_A_1185                   u2：那挺好。        u2
21373  34122_0130_A_1186      w2：你还是接着卖你的壮阳药吧，适合你。        w2
21374  34122_0130_A_1187           w2开着车，带着u2驶向远方。        u2
21375  34122_0130_A_1188           w2开着车，带着u2驶向远方。        w2

[21376 rows x 3 columns]

In [12]:
submit_data

                      id      emotion
0        34170_0002_A_12  0,0,0,0,0,0
1        34170_0002_A_14  0,0,0,0,0,0
2        34170_0003_A_16  0,0,0,0,0,0
3        34170_0003_A_17  0,0,0,0,0,0
4        34170_0003_A_18  0,0,0,0,0,0
...                  ...          ...
21371  34122_0130_A_1184  0,0,0,0,0,0
21372  34122_0130_A_1185  0,0,0,0,0,0
21373  34122_0130_A_1186  0,0,0,0,0,0
21374  34122_0130_A_1187  0,0,0,0,0,0
21375  34122_0130_A_1188  0,0,0,0,0,0

[21376 rows x 2 columns]